html, body {
    border: 0;
    margin: 0;
    padding: 0;
    
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
    color: #222;
    background-color: #FFF;
    
    font-size: 1.05em;
}

a {
    text-decoration: none;
    color: royalblue;
    transition: 0.15s;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: #EEE;
}

header {
    font-family: 'Inconsolata', monospace;
    
    background-color: #333;
    color: #EEE;
    padding: 1rem;
    padding-top: 3rem;
}

header > * {
    margin: 0;
    font-weight: 400;
}

header > h1 {
    font-size: 2em;
}

header > h2 {
    font-size: 1.5em;
    color: #CCC;
}

main > section > * {
    padding: 1rem;
}

#menu {
    font-family: 'Inconsolata', monospace;
    background-color: #666;
    font-size: 1.25em;
    display: flex;
}

#menu > a {
    color: #EEE;
    padding: 1rem;
    transition: 0.25s;
}

#menu > a:hover {
    background-color: #777;
}

main > section > #title {
    background-color: #CCC;
    font-family: 'Inconsolata', monospace;
}

main > section > #title > h1 {
    font-size: 1.5rem;
    margin: 0;
}

main > section > #title > #tree {
    margin-bottom: 0.3rem;
    padding: 0;
}

main > section > #title > #tree > h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

main > section > #title > #tree a {
    color: crimson;
}

main > section > #comments {
    background-color: lightblue;
}

article {
    line-height: 1.3em;
}

article > p {
    text-indent: 2em;
    margin: 1rem;
}

footer {
    padding: 1rem;
    background-color: #555;
    color: #FFF;
    font-weight: 300;
}